name: Spring Boot CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java 24
      uses: actions/setup-java@v4
      with:
        distribution: 'oracle'
        java-version: '24'
        cache: 'maven'

    - name: Make mvnw executable
      run: chmod +x ./mvnw

    - name: Run tests
      run: ./mvnw test

    - name: Build project
      run: ./mvnw clean package -DskipTests

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: movie-ranker-api
        path: target/*.jar
        retention-days: 7
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker Hub
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/movie-ranker-api:latest
        file: ./Dockerfile